<main class="container mx-auto px-4 py-16 text-center">
    <section class="text-white">
      <div class="relative">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMMZ9B3sya2NESI8lc_lPCrqqI4tCWCMlluA_ZA=w675-h390-n-k-no" alt="Widok na Iłżę, Polska" class="w-full h-96 object-cover rounded-lg shadow-lg mb-8">
        <div class="absolute inset-0 bg-black opacity-30 rounded-lg"></div>
      </div>
      <h2 class="text-4xl font-bold text-indigo-400 mb-6 relative">
        Podróż przez czas i przestrzeń
      </h2>
      <p class="text-xl text-gray-300 mb-10 relative">
        Z małego miasta Iłża w Polsce przez lata wyruszali odważni podróżnicy, niosąc swoje historie i kulturę w różne zakątki świata. Ten projekt zaprasza Cię do odkrycia, gdzie byli i jak wpłynęli na miejsca, które odwiedzili.
      </p>
      <a href="/map" class="inline-block bg-gray-900 hover:bg-gray-700 text-white font-semibold py-4 px-8 rounded-lg transition-colors duration-300 ease-in-out relative">
        Eksploruj Mapę
      </a>
    </section>
    <section class="mt-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPij5kNXhNy1HefsJUrNCrAiEOC8qKvoBGJ11Cl=w675-h390-n-k-no" alt="Zabytek w Iłży" class="w-full h-56 object-cover rounded mb-4">
        <h3 class="text-2xl font-semibold text-indigo-400 mb-2">Zabytki</h3>
        <p class="text-gray-400">
          Odkryj zabytkowe miejsca Iłży, miasta o bogatej historii, która wpłynęła na życie wielu ludzi.
        </p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMK36qCcuXHuRCQGIxwVyxfKVIRSuWSZSF7QZgV=w675-h390-n-k-no" alt="Kultura lokalna w Iłży" class="w-full h-56 object-cover rounded mb-4">
        <h3 class="text-2xl font-semibold text-indigo-400 mb-2">Kultura Lokalna</h3>
        <p class="text-gray-400">
          Poznaj tradycje i kulturę, które mieszkańcy Iłży dzielili ze światem.
        </p>
      </div>
      <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQRyBUTggwpQd4jHUqGd4gabimEl3uD7m4sO8e0n-u2WR5rlAr3OXuzdocR42ITFFuzK_6dIU8_ZayoJXlYVPH8AvbAG4ERSb4pjiXObF0" alt="Krajobrazy Iłży" class="w-full h-56 object-cover rounded mb-4">
        <h3 class="text-2xl font-semibold text-indigo-400 mb-2">Niesamowite Krajobrazy</h3>
        <p class="text-gray-400">
          Podziwiaj piękne krajobrazy Iłży, które były świadkami historii tych, którzy wyruszyli na poszukiwanie przygód.
        </p>
      </div>
    </section>
</main>
